#grp1{ width:150px; font:Verdana, Arial, Helvetica, sans-serif; color:#990000; font-weight:bold;}
#grp2{ height:30px; font-weight:bold; color:#003399; font-size:18px;}
#grptble {text-align:center; width:500px;}